# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files

/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# other ignores
assets.h5
SPYAssets.h5
Model/results/
Model/__pycache__/
.idea/